* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  text-decoration: none;
  color: #fafaff;
}

nav {
  display: flex;
  justify-content: right;
  height: 5rem;
  background-color: #101011b8;
  color: #fafaff;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #fafaff;
  text-transform: capitalize;
}

.nav-container ul {
  list-style: none;
  display: flex;
}

.nav-container ul li {
  padding: 2rem 2rem 0 0;
}

.home-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.home-container h2 {
  margin: 1rem 0 1rem 0;
}

.home-container img {
  max-height: 40vh;
}

.home-container p {
  width: 60vh;
  font-size: 20px;
  margin-top: 1rem;
}

.contact-container {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
}

.contact-container h2 {
  margin-bottom: 1rem;
}

.contact-container div {
  margin: 1rem 0 1rem 0;
}

.contact-container input,
textarea {
  padding: 5px;
}

.btn-container button {
  padding: 5px;
  background-color: #101011b8;
  color: #fafaff;
  border-radius: 5px;
  cursor: pointer;
}
